{% extends "pages/layoutAd.html" %} 
{% block title %} Trang chủ admin 
{% endblock %} 
{% block content %}
 {% load static %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6" style="background-color: lightblue; border-radius: 30px; padding: 30px">
            <h2 class="w-100 text-center p-3 text-danger"> Thêm user mới</h2>
            <form method="post">
                {% csrf_token %}
                {{ form.non_field_errors }}
                
                <div class="form-group">
                    <label for="id_name">Tên user</label>
                    <input name="name" type="text" class="form-control" id="id_name" value="{{ form.name.value|default_if_none:'' }}">
                    <span class="text-danger">{{ form.name.errors }}</span>
                </div>

                <div class="form-group">
                    <label for="id_email">Email</label>
                    <input name="email" type="text" class="form-control" id="id_email" value="{{ form.email.value|default_if_none:'' }}">
                    <span class="text-danger">{{ form.email.errors }}</span>
                </div>

                <div class="form-group">
                    <label for="id_phone">Số điện thoại</label>
                    <input name="phone" type="text" class="form-control" id="id_phone" value="{{ form.phone.value|default_if_none:'' }}">
                    <span class="text-danger">{{ form.phone.errors }}</span>
                </div>

                <div class="form-group">
                    <label for="id_password">Mật khẩu</label>
                    <input name="password" type="password" class="form-control" id="id_password" value="{{ form.password.value|default_if_none:'' }}">
                    <span class="text-danger">{{ form.password.errors }}</span>
                </div>

                <div class="form-group">
                    <label for="id_role">Vai trò</label>
                    <select name="role" class="form-control" id="id_role">
                        <option value="" selected>Chọn vai trò</option>
                        <option value="admin">Admin</option>
                        <option value="user">User</option>
                    </select>
                    <span class="text-danger">{{ form.role.errors }}</span>
                </div>

                 <!-- Button trigger modal -->
                 <div class="text-center mt-2" style=" display: flex; justify-content: center;">
                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">Thêm</button>
                </div>

                <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">Xác nhận thêm người dùng</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                            </button>
                            </div>
                            <div class="modal-body">
                                Bạn có muốn thêm người dùng này không?
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
                                <button type="submit" class="btn btn-danger">Đồng ý</button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>   
    </div>
</div>

{% endblock %}











