{% extends "pages/layout.html" %} {% block title %} Thanh toán {% endblock %} {% block content %} {% load static %}

<style>
    .spad {
        padding-top: 100px;
        padding-bottom: 100px;
    }
    /* .coupon__code {
    color: #0d0d0d;
    font-size: 14px;
    border-top: 2px solid #77b527;
    background: #f5f5f5;
    padding: 23px 30px 18px;
    margin-bottom: 50px;
} */
    
    .checkout__title {
        color: #111111;
        font-weight: 700;
        text-transform: uppercase;
        border-bottom: 1px solid #000;
        padding-bottom: 25px;
        margin-bottom: 30px;
    }
    
    .checkout__input {
        margin-bottom: 6px;
    }
    
    .checkout__input p {
        color: #111111;
        margin-bottom: 12px;
    }
    
    .checkout__input p span {
        color: #e53637;
    }
    
    .checkout__input input {
        height: 50px;
        width: 100%;
        border: 1px solid #e1e1e1;
        font-size: 14px;
        color: #000000;
        padding-left: 20px;
        margin-bottom: 20px;
    }
    
    .checkout__input {
        margin-bottom: 6px;
    }
    
    .checkout__input p {
        color: #111111;
        margin-bottom: 12px;
    }
    
    .checkout__input__checkbox label {
        font-size: 15px;
        color: #0d0d0d;
        position: relative;
        padding-left: 30px;
        cursor: pointer;
        margin-bottom: 16px;
        display: block;
    }
    
    .checkout__input__checkbox label input {
        position: absolute;
        /* visibility: hidden; */
    }
    
    .checkout__input__checkbox label input:checked~.checkmark {
        border-color: #e53637;
        /* color: #e53637; */
    }
    
    .checkout__input__checkbox label .checkmark {
        position: absolute;
        left: 0;
        top: 3px;
        height: 14px;
        width: 14px;
        border: 1.5px solid #d7d7d7;
        content: "";
        border-radius: 2px;
    }
    
    .checkout__input__checkbox label .checkmark:after {
        position: absolute;
        left: 1px;
        top: -3px;
        width: 14px;
        height: 7px;
        border: solid #e53637;
        border-width: 1.5px 1.5px 0px 0px;
        -webkit-transform: rotate(127deg);
        -ms-transform: rotate(127deg);
        transform: rotate(127deg);
        content: "";
        opacity: 0;
    }
    
    .checkout__order {
        background: #ffffff;
        padding: 30px;
    }
    
    .checkout__order .order__title {
        color: #111111;
        font-weight: 700;
        text-transform: uppercase;
        border-bottom: 1px solid #d7d7d7;
        padding-bottom: 25px;
        margin-bottom: 30px;
    }
    
    .checkout__order__products {
        font-size: 16px;
        color: #111111;
        overflow: hidden;
        margin-bottom: 18px;
    }
    
    .checkout__order__products span {
        float: right;
    }
    
    .checkout__total__products {
        margin-bottom: 20px;
    }
    
    .checkout__total__products li {
        font-size: 16px;
        color: #444444;
        list-style: none;
        line-height: 26px;
        overflow: hidden;
        margin-bottom: 15px;
    }
    
    .checkout__total__products li span {
        color: #111111;
        float: right;
    }
    
    .checkout__total__all {
        border-top: 1px solid #d7d7d7;
        border-bottom: 1px solid #d7d7d7;
        padding: 15px 0;
        margin-bottom: 26px;
    }
    
    .checkout__total__all li {
        list-style: none;
        font-size: 16px;
        color: #111111;
        line-height: 40px;
        overflow: hidden;
    }
    
    .checkout__total__all li span {
        color: #e53637;
        font-weight: 700;
        float: right;
    }
    
    .checkout__order .site-btn {
        width: 100%;
        margin-top: 8px;
    }
    
    .site-btn {
        font-size: 14px;
        color: #ffffff;
        background: #111111;
        font-weight: 700;
        border: none;
        text-transform: uppercase;
        display: inline-block;
        padding: 14px 30px;
    }
    
    .checkout_select {
        height: 50px;
    }
    
    .text-error ul {
        padding: 0;
        font-weight: bold;
    }
</style>
<section class="checkout spad" style="background-color: #f8d6d6;">
    <div class="container">
        <div class="checkout__form">
            <form method="post">
                {% csrf_token %}
                <div class="row">
                    <div class="col-lg-8 col-md-6">
                        <h6 class="checkout__title">Chi tiết thanh toán</h6>
                        <div class="checkout__input">
                            <p>Họ và tên <span>*</span></p>
                            <input type="text" placeholder="Họ tên" name="recipient_name" value="{{ order_form.recipient_name.value|default_if_none:'' }}">
                        </div>
                        {% if order_form.recipient_name.errors %}
                        <span class="text-danger text-error">{{ order_form.recipient_name.errors }}</span> {% endif %}

                        <div class="row">
                            <div class="col-lg-12">
                                <div class="checkout__input">
                                    <p>Địa chỉ <span>*</span></p>
                                    <input type="text" placeholder="Địa chỉ nhận hàng" name="recipient_address" value="{{ order_form.recipient_address.value|default_if_none:'' }}">
                                </div>
                                {% if order_form.recipient_address.errors %}
                                <span class="text-danger text-error">{{ order_form.recipient_address.errors }}</span> {% endif %}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="checkout__input">
                                    <p>Tỉnh / Thành <span>*</span></p>
                                    <select class="form-select form-select-md mb-3" id="city" name="city" aria-label=".form-select-md" style="height: 50px;" required>
                                            <option value="" selected>Chọn tỉnh thành</option>
                                        </select>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="checkout__input">
                                    <p>Quận / Huyện <span>*</span></p>
                                    <select class="form-select form-select-md mb-3" id="district" name="district" aria-label=".form-select-md" style="height: 50px;" required>
                                            <option value="" selected>Chọn quận huyện</option>
                                        </select>
                                </div>
                            </div>

                        </div>
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="checkout__input">
                                    <p>Phường / Xã <span>*</span></p>
                                    <select class="form-select form-select-md" id="ward" name="ward" aria-label=".form-select-md" style="height: 50px;" required>
                                            <option value="" selected>Chọn phường xã</option>
                                        </select>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="checkout__input">
                                    <p>Số điện thoại <span>*</span></p>
                                    <input type="text" name="recipient_phone" value="{{ order_form.recipient_phone.value|default_if_none:'' }}">
                                </div>
                                {% if order_form.recipient_phone.errors %}
                                <span class="text-danger text-error">{{ order_form.recipient_phone.errors }}</span> {% endif %}

                            </div>
                        </div>
                        <ul class="css-price-filter p-0" style="gap: 7px;">
                            <p>Phương thức thanh toán <span style="color: red;">*</span></p>
                            <li class="border border-white my-2" style="padding:15px">
                                <input type="radio" name="method_payment" value="COD" id="payment-1" class="input_filter" checked>
                                <label for="payment-1" style="line-height: 0;">Thanh toán tiền mặt khi nhận (COD)</label>
                            </li>
                            <li class="border border-white my-2" style="padding:15px">
                                <input type="radio" name="method_payment" value="Chuyển khoản" id="payment-2" class="input_filter">
                                <label for="payment-2" style="line-height: 0;">Chuyển khoản ngân hàng</label>
                            </li>
                        </ul>
                        {% if order_form.method_payment.errors %}
                        <span class="text-danger text-error">{{ order_form.method_payment.errors }}</span> {% endif %}


                    </div>
                    <div class="col-lg-4 col-md-6">
                        <div class="checkout__order">
                            <h4 class="order__title">Hóa đơn của bạn</h4>
                            <div class="checkout__order__products fw-bold">Sản phẩm <span>Tổng tiền</span></div>
                            <ul class="checkout__total__products p-0">
                                {% for item in cart_details %}
                                <li>
                                    <div class="row">
                                        <div class="col-md-7">
                                            <b>{{ item.index }}</b>. {{ item.product.name }}
                                            <div>Số lượng: {{ item.quantity }}
                                            </div>
                                        </div>
                                        <div class="col-md-5 text-end">{{ item.product_total }} ₫</div>
                                    </div>
                                </li>
                                {% endfor %}
                            </ul>
                            <ul class="checkout__total__all">
                                <li>Thành tiền <span> {{ total_amount}} ₫</span></li>
                            </ul>
                            <button type="submit" class="site-btn text-uppercase ">Hoàn tất thanh toán</button>
                        </div>
                    </div>
                </div>
            </form>

        </div>
    </div>
</section>
<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.min.js"></script>

<script>
    var citis = document.getElementById("city");
    var districts = document.getElementById("district");
    var wards = document.getElementById("ward");
    var Parameter = {
        url: "https://raw.githubusercontent.com/kenzouno1/DiaGioiHanhChinhVN/master/data.json",
        method: "GET",
        responseType: "application/json",
    };
    var promise = axios(Parameter);
    promise.then(function(result) {
        renderCity(result.data);
    });

    function renderCity(data) {
        for (const province of data) {
            citis.options[citis.options.length] = new Option(province.Name, province.Name);
        }
        citis.onchange = function() {
            districts.length = 1;
            wards.length = 1;
            if (this.value != "") {
                const selectedProvince = data.find(province => province.Name === this.value);

                for (const district of selectedProvince.Districts) {
                    districts.options[districts.options.length] = new Option(district.Name, district.Name);
                }
            }
        };
        districts.onchange = function() {
            wards.length = 1;
            const selectedProvince = data.find(province => province.Name === citis.value);
            if (this.value != "") {
                const selectedDistrict = selectedProvince.Districts.find(district => district.Name === this.value);

                for (const ward of selectedDistrict.Wards) {
                    wards.options[wards.options.length] = new Option(ward.Name, ward.Name);
                }
            }
        };
    }
</script>
{% endblock %}