{% extends "pages/layout.html" %}
{% block title %}
    Sản phẩm
{% endblock %}

{% block content %}
{% load static %}


<div id="main">
    <div id="content">
        <div class="grid">
            <div class="grid__row">
                <!--THANH BAR BÊN TRÁI-->
                <div class="grid_column-2">
                    <div class="aside-filter">
                        <div class="headding-filter">
                            <h2 class="title-head">Bộ lọc</h2>
                            <p>Giúp bạn tìm kiếm sản phẩm nhanh hơn</p>
                        </div>
                        <hr>
                        <div class="filter">
                            <h3>Thương hiệu</h3>
                            <div class="search-filter">
                                <input type="text" placeholder="Tìm thương hiệu">
                                <a class="bg-icon-search" href=""><i class="ti-search "></i></a>
                            </div>
                            <div class="filter-brand">
                                <ul class="filter-option">
                                    <li class="filter-item">
                                        <input type="checkbox"><span>3CE</span>
                                    </li>
                                    <li class="filter-item">
                                        <input type="checkbox"><span>AFC</span>
                                    </li>
                                    <li class="filter-item">
                                        <input type="checkbox"><span>AGAPAN</span>
                                    </li>
                                    <li class="filter-item">
                                        <input type="checkbox"><span>3W Clinic</span>
                                    </li>
                                    <li class="filter-item">
                                        <input type="checkbox"><span>A-DERMA</span>
                                    </li>
                                    <li class="filter-item">
                                        <input type="checkbox"><span>Vichy</span>
                                    </li>
                                    <li class="filter-item">
                                        <input type="checkbox"><span>Victoria's</span>
                                    </li>
                                </ul>
                            </div>

                            <h3>Giá sản phẩm</h3>
                            <div class="filter-price">
                                <ul class="filter-option">
                                    <li class="filter-item">
                                        <input type="checkbox"><span>Giá dưới 100.000đ</span>
                                    </li>
                                    <li class="filter-item">
                                        <input type="checkbox"><span>100.000đ - 200.000đ</span>
                                    </li>
                                    <li class="filter-item">
                                        <input type="checkbox"><span>200.000đ - 300.000đ</span>
                                    </li>
                                    <li class="filter-item">
                                        <input type="checkbox"><span>300.000đ - 500.000đ</span>
                                    </li>
                                    <li class="filter-item">
                                        <input type="checkbox"><span>500.000đ - 1.000.000đ</span>
                                    </li>
                                    <li class="filter-item">
                                        <input type="checkbox"><span>Trên 1.000.000đ</span>
                                    </li>
                                </ul>
                            </div>
                        </div>

                    </div>
                    <div class="featured-products">
                        <h2 class="title" style="font-size: 22pt"><a href="#">Sản phẩm nổi bật</a></h2>
                        <div class="list-product">
                            <!-- @*Lấy 5 sản phẩm*@
                            @for (int i = 0; i < 5 && i < Model.Count; i++)
                            {
                                var product = Model[i];
                                <div class="product-item">
                                    <div class="product-img">
                                        <a href="/SanPham/ChiTietSP/@product.MaSP">
                                            <img title="@product.TenSP" src="~/Content/images/@product.TenHinh" alt="">
                                        </a>
                                    </div>
                                    <div class="product-shop">
                                        <h3 class="product-name" title="@product.TenSP">
                                            <a href="/SanPham/ChiTietSP/@product.MaSP">@product.TenSP</a>
                                        </h3>
                                        <div class="product-item-price">@string.Format("{0:N0}", @product.DonGiaBan) đ</div>
                                    </div>
                                </div>
                            } -->
                        </div>
                    </div>
                </div>

                <!--DANH SÁCH SP LOAD LÊN TỪ DATABASE-->
                <div class="grid_colum-10">
                    <div class="grid__row">

                        <div class="home-filter-headding" style="height:60px;width:100%">
                            <h1 class="home-title-product">
                                Danh Sách Sản Phẩm
                            </h1>
                            <div class="home-filter">
                                <ul class="list-filter">
                                    Ưu tiên xem:
                                    <li><a href=""><i class="ti-check"></i> Hàng mới</a> </li>
                                    <li><a href=""><i class="ti-check"></i> Giá tăng dần</a> </li>
                                    <li><a href=""><i class="ti-check"></i> Giá giảm dần</a> </li>
                                </ul>
                            </div>
                        </div>

                        {% for product in dm_sanpham %}
                        <div class="grid_column-2-4">
                            <div class="home-product-item">
                                <div class="product-img">
                                    <a href="/shop_detail/{{product.id}}"><img src="{% static 'img/' %}{{ product.image }}" alt="Hình ảnh sản phẩm" style="width: 220px;height: 220px;"></a>
                                </div>
                                <h4 class="product-item-name">{{ product.name }}</h4>
                                <div class="product-item-price">
                                    <span class="price-current">{{ product.price|floatformat:0 }}</span>
                                    <span class="vnd">₫</span>
                                  
                                </div>
                                <div class="product-item-action">
                                    <span class="product-item-action-like product-item-action-like-liked">
                                        <i class="product-item-action-like-empty ti-heart"></i>
                                        <i class="product-item-action-like-fill fa-solid fa-heart"></i>
                                    </span>
                                    <div class="product-item-action-rating">
                                        <i class="product-item-action-star-gold fa-solid fa-star"></i>
                                        <i class="product-item-action-star-gold fa-solid fa-star"></i>
                                        <i class="product-item-action-star-gold fa-solid fa-star"></i>
                                        <i class="product-item-action-star-gold fa-solid fa-star"></i>
                                        <i class="product-item-action-star-gold fa-solid fa-star"></i>
                                    </div>
                                </div>
                                <a class="product-item-btn-addcart" href="/addCart/?action=addcart&id_product={{ product.id }}">Thêm vào giỏ hàng</a>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>




            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col d-flex justify-content-center">
                    <nav aria-label="Page navigation example">
                        <ul class="pagination">
                            <!-- Nút "Previous" -->
                            <li class="page-item {% if dm_sanpham.number <= 1 %} disabled {% endif %}">
                                <a class="page-link" href="/shop_theoloai?page={{ previous_page }}" aria-label="Previous">
                                    <span aria-hidden="true">&laquo;</span>
                                </a>
                            </li>

                            <!-- Hiển thị các nút số trang -->
                            {% for i in page_range %}
                                <li class="page-item {% if i == dm_sanpham.number %}active{% endif %}">
                                    <a class="page-link" href="/shop_theoloai?page={{ i }}">{{ i }}</a>
                                </li>
                            {% endfor %}

                            <!-- Nút "Next" -->
                            <li class="page-item {% if dm_sanpham.number >= total_pages %} disabled {% endif %}">
                                <a class="page-link" href="/shop_theoloai?page={{ next_page }}" aria-label="Next">
                                    <span aria-hidden="true">&raquo;</span>
                                </a>
                            </li>

                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>

</div>

{% endblock %}